In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

In [2]:
df = pd.read_csv('First_edit.csv')

In [3]:
df.head()

,Unnamed: 0,Country,Surface area (km2),Population in thousands (2017),"Sex ratio (m per 100 f, 2017)",GDP per capita (current US$),Unemployment (% of labour force)
0,0,Afghanistan,652864,35530,106,623.0,8.6
1,1,Albania,28748,2930,101,3984.0,15.8
2,2,Algeria,2381741,41318,102,4154.0,11.4
3,5,Angola,1246700,29784,96,4714.0,6.6
4,8,Argentina,2780400,44271,95,14564.0,6.5

In [4]:
fig  = px.choropleth(df, locations = 'Country',locationmode= 'country names', color = 'Population in thousands (2017)')

In [5]:
import chart_studio.plotly as py
import plotly.graph_objects as go
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot

VISUALIZING POPULATION DATA

In [6]:
population_data = dict(type = 'choropleth',
           colorscale = 'ylorrd',
           locations = df['Country'],
           locationmode = 'country names',
           z = df['Population in thousands (2017)'],
           colorbar = {'title': 'Population in thousands (2017)'})

In [7]:
population_layout = go.Layout(dict(title = 'Population(in thousands) of countries of the world 2017',geo = dict(scope = 'world')))

In [8]:
population_fig = go.Figure(population_data,population_layout)

In [9]:
plot(population_fig)

'temp-plot.html'

VISUALIZING SURFACE AREA

In [10]:
area_data = dict(type = 'choropleth',
           colorscale = 'ylorrd',
           locations = df['Country'],
           locationmode = 'country names',
           z = df['Surface area (km2)'],
           colorbar = {'title': 'Surface area (km2)'})

In [11]:
area_layout = go.Layout(dict(title = 'Surface area(in km2) of countries of the world 2017',geo = dict(scope = 'world')))

In [12]:
area_fig = go.Figure(area_data,area_layout)

In [13]:
plot(area_fig)

'temp-plot.html'

VISUALIZING GDP DATA

In [14]:
gdp_data = dict(type = 'choropleth',
           colorscale = 'ylorrd',zmin = 0, zmax = 70000,
           locations = df['Country'],
           locationmode = 'country names',
           z = df['GDP per capita (current US$)'],
           colorbar = {'title': 'GDP per capita (current US$)'})

In [15]:
gdp_layout = go.Layout(dict(title = 'GDP per capita (current US$) of countries of the world 2017',geo = dict(scope = 'world')))

In [16]:
gdp_fig = go.Figure(gdp_data,gdp_layout)

In [17]:
plot(gdp_fig)

'temp-plot.html'

VISUALIZING UNEMPLOYMENT DATA

In [18]:
unemployment_data = dict(type = 'choropleth',
           colorscale = 'ylorrd',
           locations = df['Country'],
           locationmode = 'country names',
           z = df['Unemployment (% of labour force)'],
           colorbar = {'title': 'Unemployment (% of labour force)'})

In [19]:
unemployment_layout = go.Layout(dict(title = 'Unemployment (% of labour force)',geo = dict(scope = 'world')))

In [20]:
unemployment_fig = go.Figure(unemployment_data,unemployment_layout)

In [21]:
plot(unemployment_fig)

'temp-plot.html'